.whole-page {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  @include flexcolumn(center);
  background: black !important; 
  
  .big {
    font-size: 38px;
    font-weight: bold;
  }

  .start-doc {
    transition: all 0.2s;
    display: block;
    padding: 12px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 50px;
    color: white; 
    border: solid white; 
    border-radius: 4px;

    &:hover {
      // transform: scale(0.9) translateY(4px);
      background: white; 
      color: black; 
    }
  }
  p {
    font-size: 21px;
    font-weight: normal;
    text-align: center;
  }

  img {
    width: 10vw;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    filter: invert(100%);
  }
}